.item-detail {
    max-width: 600px;
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.counter-label {
    justify-content: space-between;
}

.counter-height {
    width: 200px;
    min-height: 20px;
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.page {
    padding: 25px;
}

.item-detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-detail h2 {
    margin-top: 20px;
}

.item-detail p {
    margin: 10px 0;
}

.item-detail a {
    display: inline-block;
    margin-top: 20px;
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.item-detail a:hover {
    text-decoration: underline;
}
